h1{
    color: rgb(39, 93, 142);
    font-family: 'Roboto Serif', sans-serif;
    padding: 15px;
    margin-left: 10px;
    
} 
.card{
    margin: 40px; 
    padding: 10px;
    width: 20rem;
    height: 100%;
   
} 

.card-img-top {
  font-weight: 100%;
}

div.scrollmenu {    
    overflow: auto;
   white-space: nowrap; 
  }

  div.scrollmenu a {
    display: inline-block;
    color: rgb(39, 93, 142);
    text-align: center;
    text-decoration: none;
  }
  
  div.scrollmenu a:hover {
    background-color: #777;
  }
